extends layout

block content
  h1= title
  p Welcome to our Node.js / Express / Ajax / Mongo DB Test Project

  // Wrapper
  #wrapper
    // USER INFO

    #userInfo
        h2 User Info
        p
            strong Name:
            |  <span id='userInfoName'></span>
            br
            strong Age:
            |  <span id='userInfoAge'></span>
            br
            strong Gender:
            |  <span id='userInfoGender'></span>
            br
            strong Location:
            |  <span id='userInfoLocation'></span>
    // /USER INFO

    // USER LIST
    h2 User List
    #userList
      table
        thead
          th UserName
          th Email
          th Delete?
        tbody
    // /USER LIST

    // ADD USER
    h2 Add User to DB
    #addUser
        form
            fieldset
                legend User Information
                div
                    p Enter User Name
                    input#inputUserName(type='text', placeholder='Username')
                div
                    p Enter Email
                    input#inputUserEmail(type='text', placeholder='Email')
                div
                    p Enter Name
                    input#inputUserFullname(type='text', placeholder='Full Name')
                div
                    p Enter Age
                    input#inputUserAge(type='text', placeholder='Age')
                div
                    p Enter City
                    input#inputUserLocation(type='text', placeholder='Location')
                div
                    p Enter Gender
                    input#inputUserGender(type='text', placeholder='Gender')
                div
                    button#btnAddUser Add User
    // /ADD USER
    // DELETE USER Confirmation
    //#deleteUser
    //    h2 Confirm Deletion
    //    p
    //        strong Name:
    //        |  <span id='deleteName'></span>
    //    div
    //        button#btnDeleteUser Delete Name Listed
  // /WRAPPER
